<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="io.github.teccheck.gear360app.diagnostics.WsmTrustedApplicationProbeActivity"
            android:exported="true"
            android:process=":wsmprobe" />
    </application>
</manifest>
